header { 
  background-color: #333; 
  color: white; 
  padding: 1rem; 
  text-align: center; 
} 

nav a { 
  color: white; 
  text-decoration: none; 
  margin: 0 1rem; 
} 

h1 { 
  color: steelblue; 
} 

main img { 
  width: 840px; 
  height: auto; 
  border: 1px solid steelblue; 
  padding: 2px; 
  box-shadow: 0 0 30px gray; 
} 

p { 
  padding: 0;
} 

aside { 
  width: 20rem; 
  margin: 1rem; 
  border: 1px solid rgba(0, 0, 0, 0.2); 
  padding: 1rem; 
  background-color: #eee; 
  color: #333; 
  text-align: center; 
} 

aside img { 
  width: 200px; 
  height: auto; 
} 

footer { 
  margin-top: 15px; 
  border-top: 1px solid #000; 
  text-align: center; 
}
